
  <div class="row d-flex align-items-center justify-content-center row-cols-1 row-cols-md-4 row-cols-lg-4 " style="margin-bottom: 20px; margin-top: 20px;">
    <div class="col align-self-center">
    <span class="font-italic "> Ordonner par :  </span>  
    </div>
    
  </div>
  <div class="row d-flex align-items-center justify-content-center row-cols-1 row-cols-md-4 row-cols-lg-4 "  >
    
    <div class="col  align-self-center">
      <label for="aucun"><span class="fst-italic">Aucun</span></label>
      <input type="radio" id="aucun" name="order" value="aucun" checked>
    </div>
    <div class="col  align-self-center">
      <label for="id"><span class="fst-italic">id</span></label>
      <input type="radio" id="id" name="order" value="id">
    </div>
    <div class="col  align-self-center">
      <label for="fichier"><span class="fst-italic">Nom de fichier</span></label>
      <input type="radio" id="fichier" name="order" value="fichier">
    </div>
    <div class="col  align-self-center">
      <label for="Texte"><span class="fst-italic">Texte</span></label>
      <input type="radio" id="Texte" name="order" value="Texte">
    </div>

  </div>

    <div class="row d-flex align-items-center justify-content-center " style="margin-bottom: 10px; margin-top: 8px;">
    <div class="col-12 align-self-center">
    <span class="font-italic "> Rechercher par Contenu :  </span>  
    </div>
    <div class="col-12 align-self-center" style="margin-top: 6px;">
    <input type="text" name="" placeholder="Le contenu à chercher.." style="width: 35%; border-radius: 5px; height: 30px;"> <i class="fa fa-search fa-lg" aria-hidden="true" style="margin-left: 10px;cursor: pointer;"></i>
    </div>
    
  </div>
 
