
  {% load static %}

 
<div class="row d-flex align-items-center justify-content-center  " style="margin-bottom: 25px; margin-top: 10px;  ">
    <!-- <div class="col-lg-6 col-sm-12 align-self-center forcanvas">



     <canvas id="myChart" width="20" height="20" class="align-self-center justify-content-center" data-user = "{{user_vote}}" data-total = "{{nbr_texte}}">
          
      </canvas>  


    </div>
 -->
    <div class="col-lg-6 col-sm-12 align-self-center forcanvas" style=" height: 100%" >


    <h4 class="font-italic"  > Total Commentaires : {{nbr_texte}} </h4>
    <h4 class="font-italic"  > Voté Par vous : {{user.vote}}  </h4>

    {% if user.is_superuser %}
    <h4 class="font-italic"  > Nombre catégorie : {{nbr_cat}}  </h4>
    <h4 class="font-italic"  > Votés haineux : {{haineux__sum}} </h4>
    <h4 class="font-italic"  > Votés offensif : {{offensif__sum}}  </h4>
    <h4 class="font-italic"  > Votés normal : {{non_offensif__sum}}  </h4>
    {% endif %}




    </div>

</div>


 



	<script type="text/javascript">
	 $(document).ready(function () {


  

  vote_user =  $('#myChart').data("user");
  total =  $('#myChart').data("total");
  pour_vote = (vote_user / total).toFixed(2);


const ctx = document.getElementById('myChart').getContext('2d');
Chart.register(ChartDataLabels);
const myChart = new Chart(ctx, {
    type: 'doughnut',
  data: {
    datasets: [
      {
        data: [100-pour_vote, pour_vote],
        backgroundColor: [ 'rgb(255, 99, 132)', 'rgb(255, 159, 64)'],
      },
    ],
    labels: ['Restant', 'Voté'],
  },
  options: {
    plugins: {
      title: {
                display: true,
                text: 'STATISTIQUES DE VOS VOTES'
                // font-size:  20px;
            },

        legend: {
                display: true,
                position : 'bottom'
            },
      datalabels: {
        formatter: (value) => {
          return value + '%';
        }
      },
      doughnutlabel: {
        labels: [{
          text: '550',
          font: {
            size: 20,
            weight: 'bold'
          }
        }, {
          text: 'total'
        }]
      }
    }
  }
});


$("#changedata").on("click", function() {
    myChart.data.datasets[0].data = [80,20];
    myChart.update();
});
 


              
});

	</script>
