{% extends '_partials/base.html' %}

{% load static %}
 


{% block title %}

    Admin Page

{% endblock %}



{% block content %}

{% include '_partials/header.html' %} 



<div class="container">

  <div class="row d-flex align-items-center justify-content-center  " style="margin-bottom: 10px; margin-top: 20px;">
    <div class="col-lg-12  align-self-center">

    <h4 class="font-italic"  style="display: inline;"> GESTION DE COMMENTAIRES </h4> <!--  <img src= {% static 'img/add.png' %}  style="width: 2%" />    -->
    </div>
  </div>

 {% include '_partials/filtre.html' %} 

{% if comments %}
 <div class="row">
        <div class="col-lg-11 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                 {% for comment in comments %}

                <li class="list-group-item" style=" border-bottom: 1px solid rgba(0, 0, 0, 0.1); margin-bottom: 1px; background-color: rgb(248, 248, 248); " id="{{comment.id}}">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-4">
                        <div class="media-body order-2 order-lg-1 text-center">
                            <h3 class="mt-0  mb-3 " style="color: #E91E63;">{{comment.categorie}}</h3>
                            <p class="font-italic mb-0 font-weight-bold" style="font-size: 15px;">
                             
                              {% if comment.texte|length|get_digit:"-1" > 80 %}
                                {{comment.texte|truncatechars:60}}
                                <button type="button" class="btn btn-link btrm " style="color: blue;"
                                onclick='LirePlus( "{{comment.texte}}" , "{{comment.categorie}}",  );'>
                                  lire plus
                                </button>
                              {% else %}
                                {{comment.texte}}
                              {% endif %}

                            </p>
                            <div class="d-flex align-items-center row row-cols-1 row-cols-md-2 row-cols-lg-4  mt-4"  >


                                <div class="col align-self-center">

                                   <h6 class="text-muted my-1 "  >Vote Haineux : {{comment.haineux}}</h6>
                                  
                                </div>

                                <div class="col mx-auto">

                                   <h6 class="text-muted my-1"  >Vote Offensif : {{comment.offensif}}</h6>
                                  
                                </div>

                                <div class="col mx-auto">

                                   <h6 class="text-muted my-1"  >Vote Normal : {{comment.non_offensif}}</h6>
                                  
                                </div>

                                <div class="col mx-auto">

                                   <h6 class="  my-1 font-italic" style="color: #E91E63;">Vote Final : {{comment.vote_final}}</h6>
                                  
                                </div>

                                
                                <div class="col mx-auto" style="margin-top: 25px;">

                                  <button type="button" class="btn btn-sm btn-outline-info font-italic"  style="width: 45%" 
                                   onclick='detail(  "{{comment.texte}}" , 
                                      "{{comment.id}}",
                                    "{{comment.post_titre}}",
                                    "{{comment.post_url}}", 
                                    "{{comment.categorie}}",  );'>
                                      Détails
                                    </button>     
                                    <button type="button" class="btn btn-sm btn-outline-danger font-italic"  style="width: 45%; margin-left: 15px;"  onclick='deleteItem("{{comment.id}}",);'>
                                      Supprimer
                                    </button> 

                                </div>
                                                             
                            </div>
                    </div> <!-- End -->
                </li> <!-- End -->
        {% endfor %}

                <!-- list group item-->
                 
            </ul> <!-- End -->
        </div>
    </div>


          <!-- read more popup box start -->
   <div class="popup-box" >
      <div class="popup-content">
          <div class="popup-header">
             <h4 class="font-italic"></h4>
             <span class="popup-close-icon">&times;</span>
          </div>
          <div class="popup-body">
            
          </div>
          <div class="popup-footer">
            <button class="btn btn-sm btn-outline-info popup-close-btn">Close</button>
          </div>
      </div>
   </div>
  <!-- read more popup box end -->


 
{% include '_partials/indexation.html' %} 


 
  {% else %}

    <div class="ui message">
      <div class="header">
          No items yet
      </div>
      <p>You can create your first todo now <a href= " ">Add new</a></p>
    </div>
 {% endif %}


  <div class="row d-flex align-items-center justify-content-center  " style="margin-bottom: 10px; margin-top: 20px;">
    <div class="col-lg-12  align-self-center">

    <h4 class="font-italic"  style="display: inline;"> AJOUT DE COMMENTAIRES (.json) </h4> </h4> <img src= {% static 'img/add.png' %}  style="width: 2%" />   

      
    </div>
  </div>
 



 <div class="row">
            <div class="col-lg-8 mx-auto">

                <!-- CHECKBOX LIST -->
              {% if dir_list %}

                <div class="card rounded border-0 shadow-sm position-relative">
                    <div class="card-body p-5 pb-3">
                        <div class="d-flex align-items-center mb-4 pb-4 border-bottom"> 
                            <div class="ms-3">
                                <h6 class="text-uppercase fw-weight-bold mb-0">Fichier Disponible</h6>
                                <p class="text-gray fst-italic mb-0">Dernier Ajout : le 05 December 2020</p>
                            </div>
                        </div>
                        <form>

                        {% for dir in dir_list %}
                        <div class="form-check mb-3">
                            <label for="d-{{dir}}"><span class="fst-italic">{{dir}}</span></label>

                            <input type="radio" id="d-{{dir}}" name="fav_language" value="{{dir}}">
                        </div>
                        {% endfor %}
                        </form>
                         
                           <div class=" row d-flex align-items-center justify-content-center">

                             <button type="button" class="btn btn-sm btn-outline-primary font-italic mt-4" id="myBtn" style=" width: 30%"> Ajouter</button>
                             
                           </div>
                       
                         
                    </div>
                </div>
  {% endif %}

            </div>
        </div>
   
 

  <div class="row d-flex align-items-center justify-content-center  " style="margin-bottom: 25px; margin-top: 55px;">
    <div class="col-lg-12  align-self-center">

     <h4 class="font-italic" style="display: inline;" > SUPPRIMER TOUS LES COMMENTAIRES  </h4> <img src= {% static 'img/crash.png' %}  style="width: 2%" />   
      
    </div>
  </div>
 

    <div class="row  justify-content-center" style="margin-bottom: 20px;">
        <button type="button" class="btn btn-outline-danger"  onclick="deleteAllItems();" style=" width: 30%">Supprimer</button>
    </div>

  </div>

    
   


<!-- </div> -->

  
 


<div class="modal"><!-- Place at bottom of page --></div>


</div>



 







        

    
    {% endblock content %}


 



    
