{% extends '_partials/base.html' %}

{% load static %}


{% block title %}

    Acceuil

{% endblock %}



{% block content %}


{% include '_partials/header.html' %} 


  
  <div class="container">
          



      {% if comments %}


    <div class=" row row-cols-1 row-cols-md-2 row-cols-lg-3 service-items">


      <!-- <div class=" card-group "></div> -->

        {% for comment in comments %}

          <div class="card-group col">
           <div class="card text-center border-.5 mb-3" >
              <div class="card-header">
  
                <h3 class="font-italic" >{{comment.categorie}}</h3> 

                <strong><p class="font-italic" id="reponse-{{comment.id}}">  votre réponse : </p> </strong>

              </div>
              <div class="card-body">

                 {% if comment.texte|length|get_digit:"-1" > 120 %}   
                    <p class="card-text" id="text-{{comment.id}}">{{comment.texte|truncatechars:120}}
                      <button type="button" class="btn btn-link btrm " style="color: blue;"
                      onclick='LirePlus( "{{comment.texte}}" , "{{comment.categorie}}",  );'>
                        lire plus
                      </button>
                    </p>  
                    
                  {% else %}
                    <p class="card-text" id="text-{{comment.id}}">{{comment.texte}}</p>          
                  {% endif %}

                <span class="bad" style="cursor: pointer;" onclick="FuriousCall({{comment.id}});" > 
                 <img  class=" "  id="furImg-{{comment.id}}" src= {% static 'img/furious-2.png' %}  style="width: 10%" /> 
               </span>

                <span role="button" aria-pressed="true"    style="margin-right: 5px; margin-left: 10px; cursor: pointer;" onclick="BadCall({{comment.id}});" > 
                  <img   class=" " id="badImg-{{comment.id}}" src= {% static 'img/colere.jpg' %}  style="width: 10%" /> 
                </span>

                <span role="button" aria-pressed="true"   style="cursor: pointer" onclick="NormalCall({{comment.id}});" > 
                  <img class=" " id="norImg-{{comment.id}}" src= {% static 'img/smiling.jpg' %}  style="width: 10%" /> 
                </span>

              </div>
              <div class="card-footer text-muted">
                <button type="button" class="btn btn-sm btn-outline-info font-italic"  onclick='detail(  "{{comment.texte}}" , 
                  "{{comment.id}}",
                "{{comment.post_titre}}",
                "{{comment.post_url}}", 
                "{{comment.categorie}}",  );'>
                  Plus d'Info
                </button>
              </div>
           </div>
          </div>

        {% endfor %}

    </div>

{% include '_partials/indexation.html' %} 
<div class=" d-flex align-items-center row  " style="margin-left: 50px;">
  <div class="col-12">

    <label for="quantity">Aller à la page (Entre 1 et {{comments.paginator.num_pages}}):</label>
  <input type="number" id="quantity" name="quantity" min="1" max="23"  > 
      <button type="button" class="btn btn-sm btn-outline  font-italic"  id="GoTo"  onclick='GoTo("")'  >
        Go To
  </button> 
 
    
</div>
</div>
    

      <!-- read more popup box start -->
   <div class="popup-box" >
      <div class="popup-content">
          <div class="popup-header">
             <h4 class="font-italic"></h4>
             <span class="popup-close-icon">&times;</span>
          </div>
          <div class="popup-body">
            
          </div>
          <div class="popup-footer">
            <button class="btn btn-sm btn-outline-info popup-close-btn">Close</button>
          </div>
      </div>
   </div>
  <!-- read more popup box end -->



    <div class="row align-items-center"  style=" border-bottom: 1px solid rgba(0, 0, 0, 0.1); margin-bottom: 25px; padding-bottom: 15px; margin-top: 40px">

      <div class="col-lg-3 align-self-center"  >
      </div>

      <div class="col-lg-6 align-self-center"  >
      <button type="button" class="btn btn-outline-primary font-italic" onclick="save({{comments.next_page_number}} );" disabled id="btnsave">  Enregister
      </button>
      <button type="button" class="btn btn-outline-warning font-italic " style="margin-left: 20px;" disabled id="btncancel" onclick="cancel()">  Annuler
      </button>
      </div>
      <div class="col-lg-3 align-self-center"  >
      </div>
      
    </div>

  
 

  {% else %}

  <div class="ui message">
    <div class="header">
        No items yet
    </div>
    <p>You can create your first todo now <a href= " ">Add new</a></p>
  </div>
  {% endif %}


  </div>
        


{% include '_partials/footer.html' %} 
 

<div class="modal"><!-- Place at bottom of page --></div>


</div>    

    
    {% endblock content %}


 



    
