{% extends '_partials/base.html' %}

{% load static %}


{% block title %}

    Statistics Page

{% endblock %}



{% block content %}

{% include '_partials/header.html' %} 


<div class="container">



  <div class="row d-flex align-items-center justify-content-center  " style="margin-bottom: 10px; margin-top: 10px;">
    <div class="col-lg-12  align-self-center">

    <h4 class="font-italic text-muted"  style="display: inline;"> STATISTIQUES INDIVIDUELLES PAR VOTES </h4> <!--  <img src= {% static 'img/add.png' %}  style="width: 2%" />    -->

      
    </div>
  </div>
 

 <!-- {% include '_partials/filtre.html' %}  -->

  

{% if comments %}

{% include '_partials/indexation.html' %} 
<div class="row  justify-content-center" style="margin-top: 10px  ; background-color: ;" >

  <div class=" d-flex justify-content-center" style="text-align: center">

    <label for="quantity" style="">Aller à la page (Entre 1 et {{nbr_page}}):</label>
    <input type="number"  class="quantity" id="quantity" name="quantity" min="1" max="23" value = {{comments.number}}   style="   height: 80% ; text-align: center; margin-left: 10px"> 
     
    
  </div>
 

</div>
<div class="row  justify-content-center" style="margin-bottom: 35px; background-color: ;" >

  <div class=" d-flex justify-content-center" style="text-align: center">

     
    <button type="button" class="btn btn-sm btn-outline  font-italic"  id="GoTo"  onclick='GoTo("")'   style=" width: 8%; height: 90% ; text-align: center;  "> <i class="fa fa-search fa-lg" aria-hidden="true"></i>
    </button> 
    
  </div>
 

</div>


 <div class="row" style="margin-top: 45px; margin-bottom: 75px;">
        <div class="col-lg-9 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                 {% for comment in comments %}

                <li class="list-group-item" style=" border-bottom: 1px solid rgba(0, 0, 0, 0.1); margin-bottom: 1px; background-color: rgb(255, 254, 254); " >
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-4">
                        <div class="media-body order-2 order-lg-1 text-center">
                            <h3 class="mt-0  mb-3 " style="color: #E91E63;">{{comment.categorie}}</h3>
                            <p class="font-italic mb-0 font-weight-bold" style="font-size: 15px;">
                             
                              {% if comment.texte|length|get_digit:"-1" > 110 %}
                                {{comment.texte|truncatechars:60}}
                                <button type="button" class="btn btn-link btrm " style="color: blue;"
                                onclick='LirePlus( "{{comment.texte}}" , "{{comment.categorie}}",  );'>
                                  lire plus
                                </button>
                              {% else %}
                                {{comment.texte}}
                              {% endif %}

                            </p>
                            <div class="d-flex align-items-center row row-cols-1 row-cols-md-2 row-cols-lg-4  mt-4"  >


                                <div class="col align-self-center">

                                   <h6 class="text-muted my-1 "  >Vote Haineux : {{comment.haineux}}</h6>
                                  
                                </div>

                                <div class="col mx-auto">

                                   <h6 class="text-muted my-1"  >Vote Offensif : {{comment.offensif}}</h6>
                                  
                                </div>

                                <div class="col mx-auto">

                                   <h6 class="text-muted my-1"  >Vote Normal : {{comment.non_offensif}}</h6>
                                  
                                </div>

                                <div class="col mx-auto">

                                   <h6 class="  my-1 font-italic" style="color: #E91E63;">Vote Final : {{comment.vote_final}}</h6>
                                  
                                </div>

                                
                                <div class="col mx-auto" style="margin-top: 25px;">

                                  <button type="button" class="btn btn-sm btn-outline-info font-italic"  style="width: 45%" 
                                   onclick='detail(  "{{comment.texte}}" , 
                                      "{{comment.id}}",
                                    "{{comment.post_titre}}",
                                    "{{comment.post_url}}", 
                                    "{{comment.categorie}}",  );'>
                                      Détails
                                    </button>                            
                                </div>
                                                             
                            </div>
                    </div> <!-- End -->
                </li> <!-- End -->
        {% endfor %}

                <!-- list group item-->
                 
            </ul> <!-- End -->
        </div>
    </div>


          <!-- read more popup box start -->
   <div class="popup-box" >
      <div class="popup-content">
          <div class="popup-header">
             <h4 class="font-italic"></h4>
             <span class="popup-close-icon">&times;</span>
          </div>
          <div class="popup-body">
            
          </div>
          <div class="popup-footer">
            <button class="btn btn-sm btn-outline-info popup-close-btn">Close</button>
          </div>
      </div>
   </div>
  <!-- read more popup box end -->


 



  {% else %}

    <div class="ui message">
      <div class="header">
          No items yet
      </div>
      <p>You can create your first todo now <a href= " ">Add new</a></p>
    </div>
 {% endif %}

 {% include '_partials/UserStats.html' %} 


</div>





 
{% include '_partials/footer.html' %} 

 
    
{% endblock content %}


 



    
