{% extends '_partials/base.html' %}

{% load static %}


{% block title %}

    Statistics Page

{% endblock %}

{% block add_css %}





{% endblock %}



{% block content %}

{% include '_partials/header.html' %} 


<div class="container" style=" width: 75%;">

 <div class="row d-flex align-items-center justify-content-center  "  style="margin-top: ;">
    <div class="col-lg-12  align-self-center">

    <h2 class="font-italic"  style="display: inline;"> Classement par Votes</h2>   

      
    </div>
</div>

 
 
{% if users %}

<div style="margin-top: 65px; margin-bottom: 75px;">


<table id="example" class="display" style="width:100%; ">
       
  <thead>
  <tr> 
    <th style="text-align: center;">Rang</th>

    <th style="text-align: center;">Nom</th>
    <th style="text-align: center;">Email</th>
    <th style="text-align: center;">Votes</th>
  </tr>
    
  </thead>
  
  <tbody>

        {% for user in users  %}

        <tr>
            <td style="text-align: center;">{{ forloop.counter }}</td>

            <td style="text-align: center;">{{user.username}}</td>
            <td style="text-align: center;">{{user.email}}</td>
            <td style="text-align: center;">{{user.vote}}</td>


     
        </tr>


        {% endfor %}

   
  </tbody>

    </table>


<div class="container" style=" width: 80%; margin-bottom: 30px; margin-top: 40px;">

 <div class="row d-flex align-items-center justify-content-center  "  style="margin-top: ;">
    <div class="col-lg-12  align-self-center">

    <h2 class="font-italic"  style="display: inline;"> Statistiques</h2>   

      
    </div>
</div>

  

</div>

 
{% endif %}
    

 {% include '_partials/UserStats.html' %} 

 



</div>





 
{% include '_partials/footer.html' %} 


<script type="text/javascript">
  $(document).ready(function () {
    $('#example').DataTable({
        pagingType: 'simple_numbers',
        ordering: false,
        info: false,
    });

    // $('table tr:eq(0)').prepend('<th style="text-align: center;"> Rang </th>');

    // var id = 0;

    // $('table tr:gt(0)').each(function() {
    //   id++;
    //   $(this).prepend('<td style="text-align: center;">' + id + '</td>');
    // });


});
</script>
 
    
{% endblock content %}

 


 



    
