.container-fluid .row {
/*background-color: #4e9013;*/
margin-top: 20px;
/*height: 100%;*/
/*min-height: 130px;*/
margin-bottom: 65px;
color: white;
} 

.align-self-start {
/*background-color: #8DC5CC;*/

display: table-cell;
/*text-align: center;*/
margin-top: 20px;
vertical-align: middle;
}

.align-self-center {
/*background-color: #8DC5CC;*/

display: table-cell;
text-align: center;
vertical-align: middle;
}

.align-self-end {
background-color: #902e07;
}


@media (max-width: 576px) {
     #grid {
      display: none;
  }
}

 

.icon {
  margin:0 auto;
  height:50px;
  width:70px;
  position:relative;
  cursor:pointer;
}

  
/* Grid One */

#grid-one {
  height:70px;
}

#grid-one span {
  display:block;
  position:absolute;
  width:10px;
  height:10px;
  top:50%;
  left:50%;
  margin:-10px 0 0 -10px;
  background:#8b8b8b;
  box-shadow:
    -15px -15px 0 #8b8b8b,
    -15px 0 0 #8b8b8b,
    -15px 15px 0 #8b8b8b,
    0 -15px 0 #8b8b8b,
    0 15px 0 #8b8b8b,
    15px -15px 0 #8b8b8b,
    15px 0 0 #8b8b8b,
    15px 15px 0 #8b8b8b
  ;
}

#grid-one:hover span {
  box-shadow:
    -16px -16px 0 #8b8b8b,
    -15px 0 0 #8b8b8b,
    -16px 16px 0 #8b8b8b,
    0 -16px 0 #8b8b8b,
    0 16px 0 #8b8b8b,
    16px -16px 0 #8b8b8b,
    16px 0 0 #8b8b8b,
    16px 16px 0 #8b8b8b
  ;
}

#grid-one span:before {
  content:'';
  display:block;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:#8b8b8b;
}

#grid-one.active span {
  box-shadow: 0 0 0 #8b8b8b;
  width:70%;
  height:8px;
  left:0%;
  margin:-4px 0 0 0px;
  transform:rotate(45deg);
  background:#0986bf;
}

#grid-one.active span:before {
  transform:rotate(90deg);
  background:#0986bf;
}


/**,*:before {
  transition:.25s ease-in-out;
}*/

.dropdown-item{

  margin-top: 10px;
  margin-bottom: 10px;
}



.text-gray{color: #aaa} 


.holder {
  background: #f0efe9;
  min-height: 100vh;
}

.rounded {
  border-radius: 1rem !important;
}

 

input:checked + label {
  text-decoration: line-through;
  color: #adb5bd;
}

label {
  cursor: pointer;
}

a {
  text-decoration: none;
}

 

@media only screen and (min-width: 600px) {
  /* For tablets: */
.forcanvas {
    width: 50%;
  }

.quantity{

  width: 10%;
}

   
}

@media only screen and (max-width: 768px) {
  /* For phone: */
 .forcanvas {
    width: 70%;
  }

  .quantity{

   width: 18%;
  }
 
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
 .forcanvas {
    width: 25%;
  }

  .quantity{

   width: 6%
  }
}